/* Index page */
#margin{
    margin-top: 1rem;
}
tr,td,th{
    border:0.1rem,solid,black;
    padding:0.5rem
}
body{
    background-color: #BEFFBE;
}
.alignCenter{
    display:flex;
    justify-content:center;
}
#alignButtons{
    display: flex;
    justify-content: space-around;
}
.mainButtons{
    background-color:#7ba37b;
    color:#FFFFFF;
    padding:0.5rem;
    text-decoration:none;
}
.mainButtons:hover{
    background-color:#FFFFFF;
    color:#7ba37b;
    text-decoration:none;
}
.invisHeader{
    border:0rem, none, #FFFFFF;
}
/* Update and insert page styling */
.formAlign{
    display:flex;
    flex-direction:column;
    padding-top:1rem;
    margin-left:1rem;
    margin-bottom:2rem;
}
#buttonAlign{
    margin:1rem;
}
.alignCenterButton{
    display:flex;
    flex-direction:column;
    align-items:center;
}
label{
    text-align:center;
}
